<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-blog</title>
    <link rel="stylesheet" href="styles/stylesC.css">
</head>
<body>
    <h1>Thank You for your post, <%= newPost.name %>!</h1>
    <p>Title: <%= newPost.title %></p>
    <p>Content: <%= newPost.content %></p>
    <form action = "/entires" method="get">
        <button type="submit">entries</button>
    </form>
</body>
</html>